<html>
	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-1.11.3.min.js">
		</script>
	<head>
	<body>
		<h1>Testing Send Info from index.ejs</h1>
		<form method="POST" action="/person">
			First name: <input type="text" id="firstname" name="firstname"/>
			Last name: <input type="text" id="lastname" name="lastname"/>
			<input type="submit" value="Submit"/>
		</form>
		<script>
			$.ajax({
				type: "POST",
				url: "/personjson",
				data: JSON.stringify({ firstname: 'FirstNameFromIndexJsonParam', 
					lastname: 'LastNameFromindexJsonParam'}), 
				datatype: 'json',
				contentType: 'application/json'
			})
		</script>
	</body>
</html>